body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.intro {
  width: 400px;
  margin: 150px auto 0;
  text-align: center;
  padding: 100px;
  border: 2px solid gray;
  border-radius: 5px;
}